ol li {
    background-color: yellow;
    text-transform: uppercase;
}

.par
{
    color: green;
    text-transform: none;
}

h1, h3 {
    color: red;
}

.italico {
    font-size: 40px;
    border: 1px solid black ;
}

li {
    font-size: 20px;
}

.negrito {
    font-weight: bold;
}

.azul {
    color: blue;
}

.rosa {
    background-color: pink;
}

#one:hover {
    font-weight: bold;
    color: orangered;
}

#two:hover {
    font-weight: bold;
    color: rgb(55, 223, 33);
}

#three:hover {
    font-weight: bold;
    color: black;
}

#four:hover {
    font-weight: bold;
    color: yellow;
}

#five:hover {
    font-weight: bold;
    color: green;
}

a {
    text-decoration: none;
}




